[user]
	name = Percy Ma
	email = kecrily@gmail.com
	signingkey = 997D6DA8EEBA56BF2894346B6EDBF26A711EA3F9
[core]
	autocrlf = input
	editor = code --wait
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[merge]
  tool = vscode
	conflictStyle = diff3
[mergetool "vscode"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

